* {
	margin: 0;
	padding: 0;
}

@font-face{
  font-family: 'Futura';
  src: url('futura.ttf');
  font-family: 'Letter Gothic';
  src: url('lettergothicbold.otf');
}

body {
	text-align: center;
	margin: 0;
	color:white ;
  font-family: 'Futura';
  box-sizing: border-box;
  background-color: white;
  min-height: 100%;
}

#mainBody{
  background: url(../images/landing.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
	margin: 1em 1em 1em 1em;
	color:#000;
	font-size: .75em;
  font-family: 'Futura';
}


img { 
  margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

video {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;

}

#landing > div {
  padding-right: 0;
  padding-left: 0;
}

#intro {
  color: #000;
  font-size: 32px;
  padding: 2em;
  text-align: center;
  font-family: 'Futura';
  background-color: #fff;
}

.infoText {
  margin:3em;
}

#background {
  margin: 2em;
  position: relative;
}

#nav {
  padding-top: 10em;
  padding-bottom: 10em;
  margin-top: 5em;
  text-align: center;
  background-color: #fff;
  position: relative;
}

#nav a {
  padding-right: 3em;
}

.mouseOver_text {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  text-align: center;
}
.mouseOver_text img {
  max-width: 100%;
  max-height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 auto;
}
.mouseOver_text h1 {
  font-family: "Futura";
  margin: 0.5em;
  letter-spacing: 2px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.mouseOver_text h1 a {
  text-decoration: none;
  color: #000;
  display: block;
}
.mouseOver_text h1:hover {
  letter-spacing: 4px;
}

#previewImage {
  position: absolute;
  display: none;
  color: #fff;
  z-index: 2;
}
#previewImage img {
  width: 35vw;
}
section {
  width: 100%;
  height: auto;
  min-height: 100%;
}

.mycontent-left {
    margin: 0;
    padding: .75em;
    height: 100%;
    overflow: auto;
    font-size: 1.5em;
    position: fixed;
    width: 25%;
}

.mycontent-left p {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: left;
}

.title {
  font-size: .5em;
  padding: .5em;
  letter-spacing: 2px;
  padding-bottom: 0;
}

.body {
  margin-top: 0;
}

li a.active {
    color: #000;
    text-decoration: none;
}

a:visited{
	text-decoration: none;
	color: #000;
}
a:link{
	text-decoration: none;
	color: #000;
  text-align: center;
  font-family: 'Letter Gothic';
  font-size: .9em;
}
a:hover {
  color: #f6cdd5;
  text-decoration: none;
}


.col-sm-9 {
  padding: 0;
  margin-bottom: 0;
}

.col-sm-3 {
  padding: 0;
}

.asterisk {
  font-size: .6em;
}

.pagenav{
  text-align: center;

}

.contact {
 position: absolute;
}

footer{
  padding: 1em;
  margin-top: 15em;
  background-color: #fff;
}

footer p{
  font-size: 1em;
}

footer a{
  padding-right: 3em;
}

@media (max-width: 850px) {
  .infoText {
    margin: .4em;
  }
  #intro {
    padding: 1em;
  }
}

@media (max-width: 400px) {
  #intro {
    padding: 0;
  }
} 
