* {
	margin: 0;
	padding: 0;
}

@font-face{
  font-family: 'Futura';
  src: url('futura.ttf');
}

@font-face {
  font-family: 'Letter Gothic';
  src: url('lettergothic.otf');
}
body {

	text-align: center;
	margin: 0;
	color: #eea1ac;
  font-family: 'Futura';
}

p {
	margin: 1em 1em 1em 1em;
	color:#F0E8D0;
	font-size: 20px;
  font-family: 'Futura';
}

img { 
  margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

.coverimages{
	width: 100%;
	height: auto;
  padding: 0;
}

.scroll {
  height: 10%;
  width: 10%;
  text-align: center;
  padding: 1em;
}

.container {
    position: relative;
    margin-bottom: -3px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  -webkit-filter:blur(2.5px);
  filter: blur(2.5px);
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color:#f6cdd5 ;
  font-size: 2em;
  padding: 16px 32px;
  background-color: #f6cdd5;
}

#intro{
  color: #000;
  font-size: 2em;
  background-color: #fff;
  margin-top: 5.5em;
  margin-left: 1.5em;
  text-align: left;
  opacity: 1;
  font-family: 'Futura';
  transition: .5s ease;
}

#introoverlay {
  margin-bottom: -3px;
}


.mycontent-left {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    font-size: 1.5em;
    display: inline-block;
}

.mycontent-left p {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: left;
}

li a.active {
    color: #000;
    text-decoration: none;
}

a:visited{
	text-decoration: none;
	color: #000;
}
a:link{
	text-decoration: none;
	color: #000;
  text-align: center;
  background-color: #f6cdd5
}
a:hover {
  color: #fff;
}


.col-sm-9 {
  padding: 0;
  margin-bottom: 0;
}

.col-sm-3 {
  padding: 0;
}

.astrick {
  font-size: .75em;
}
