* {
	margin: 0;
	padding: 0;
}

@font-face{
  font-family: 'Futura';
  src: url('futura.ttf');
}

body {

	text-align: center;
	margin: 0;
	color:white ;
  font-family: 'Futura';
}

p {
	margin: 1em 1em 1em 1em;
	color:#F0E8D0;
	font-size: .75em;
  font-family: 'Futura';
}

img { 
  margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
  margin-bottom: -3px;
}

video {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  margin-bottom: -3px;

}

.arrow {
  text-align: center;
  margin: 8% 0;
}

.arrow:active {
  -webkit-animation: smooth .5s;
  animation: smooth .5s ;
}

@-webkit-keyframes arrow {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes arrow {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation: bounce 1.75s infinite;
  animation: bounce 1.75s infinite;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}


.scroll {
  height: 8%;
  width: 8%;
  text-align: center;
  padding: 0em;
}

section {
    position: relative;
    margin-bottom: -3px;
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

section:hover .image {
 transform: scale(1.02);
}

section:hover .middle {
  opacity: 1;
}


.text {
  color:#f6cdd5 ;
  font-size: 1.5em;
  padding: .5em;
  background-color: #f6cdd5;
}

#intro{
  color: #000;
  font-size: 1.75em;
  background-color: #fff;
  margin-top: 7em;
  margin-left: 1.5em;
  text-align: left;
  opacity: 1;
  font-family: 'Futura';
  transition: .5s ease;
}

#introoverlay {
  margin-bottom: -3px;
}


.mycontent-left {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    font-size: 1.5em;
    display: inline-block;
}

.mycontent-left p {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: left;
}

li a.active {
    color: #000;
    text-decoration: none;
}

a:visited{
	text-decoration: none;
	color: #000;
}
a:link{
	text-decoration: none;
	color: #000;
  text-align: center;
  background-color: #f6cdd5;
}
a:hover {
  color: #fff;
}


.col-sm-9 {
  padding: 0;
  margin-bottom: 0;
}

.col-sm-3 {
  padding: 0;
}

.astrick {
  font-size: .6em;
}


footer{
  padding: 1.5em;
  margin-top: 1em;
}

.icons {
  height: 24px;
  width: 24px;
}

.scrolldown {
  height: 4%;
  width: 4%;
}