* {
	margin: 0;
	padding: 0;
}

@font-face{
  font-family: 'Futura';
  src: url('futura.ttf');
  font-family: 'Letter Gothic';
  src: url('lettergothicbold.otf');
}

body {
	text-align: center;
	margin: 0;
	color:white ;
  font-family: 'Futura';
}

p {
	margin: 1em 1em 1em 1em;
	color:#000;
	font-size: .75em;
  font-family: 'Futura';
}


img { 
  margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
  margin-bottom: -3px;
}

video {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  margin-bottom: -3px;

}

#intro {
  color: #000;
  font-size: 2.2em;
  text-align: center;
  padding-left: 10em; 
  padding-right: 10em; 
  opacity: 1;
  font-family: 'Futura';
}

#introoverlay {
  margin: 1em;
  padding: 0;
  opacity: 1;
  position: absolute;
}

#nav {
  margin-top:27em; 
  text-align: center;
}

#nav a {
  padding-right: 3em;
}
body {
  box-sizing: border-box;
  background-color: white;
  min-height: 100%;
}

.mouseOver_text {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  text-align: center;
}
.mouseOver_text img {
  max-width: 100%;
  max-height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 auto;
}
.mouseOver_text h1 {
  font-family: "Futura";
  margin: 0.5em;
  letter-spacing: 2px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.mouseOver_text h1 a {
  text-decoration: none;
  color: #000;
  display: block;
}
.mouseOver_text h1:hover {
  letter-spacing: 4px;
}

#previewImage {
  position: absolute;
  display: none;
  color: #fff;
  z-index: 2;
}
#previewImage img {
  width: 35vw;
}
section {
    position: relative;
    margin-bottom: -3px;
    width: 100%;
}

section:hover .image {
 transform: scale(1.02);
}

section:hover .middle {
  opacity: 1;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.text {
  color:#f6cdd5 ;
  font-size: 1em;
  padding: .5em;
  background-color: #fff;
}

.mycontent-left {
    margin: 0;
    padding: .75em;
    height: 100%;
    overflow: auto;
    font-size: 1.5em;
    position: fixed;
    width: 25%;
}

.mycontent-left p {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: left;
}

.title {
  font-size: .5em;
  padding: .5em;
  letter-spacing: 2px;
  padding-bottom: 0;
}

.body {
  margin-top: 0;
}

li a.active {
    color: #000;
    text-decoration: none;
}

a:visited{
	text-decoration: none;
	color: #000;
}
a:link{
	text-decoration: none;
	color: #000;
  text-align: center;
  font-family: 'Letter Gothic';
  font-size: 0.8em;
}
a:hover {
  color: #f6cdd5;
}


.col-sm-9 {
  padding: 0;
  margin-bottom: 0;
}

.col-sm-3 {
  padding: 0;
}

.astrick {
  font-size: .6em;
}

.pagenav{
  text-align: center;

}

footer{
  padding: .5em;
  margin-top: 1em;
}

footer p{
  font-size: 1em;
}

footer a{
  padding-right: 3em;
}

@media only screen and (max-width: 890px;) {
  #intro {
    font-size: .5em;
  }
}
