* {
	margin: 0;
	padding: 0;
}

@font-face{
  font-family: 'Futura';
  src: url('futura.ttf');
  font-family: 'Letter Gothic';
  src: url('lettergothicbold.otf');
}

body {
	text-align: center;
	margin: 0;
	color:white ;
  font-family: 'Futura';
  box-sizing: border-box;
  background-color: white;
  min-height: 100%;
}

#mainBody{
  background: url(../images/landing.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
	margin: 1em 1em 1em 1em;
	color:#000;
	font-size: 1em;
  font-family: 'Futura';
}


img { 
  margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

video {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;

}

#col-lg-12{
  color: #fff;
}

#intro {
  color: #000;
  font-size: 32px;
  padding: 2em;
  text-align: center;
  font-family: 'Futura';
  background-color: #fff;
  width: 100%:
  height: auto;
}

.infoText {
  margin:3em;
}

#background {
  margin: 2em;
  background-color: #fff;
  background-size: cover;
}

#background > div:nth-child(1) > div {
  padding-right: 0;
  padding-left: 0;
}

#contact {
  background: white;
  display: none;
  margin-top: 2em;
  padding: 2em;
}

#contact a {
  text-decoration: none;
}

#contact a:hover {
  color: #f6cdd5;
}

#nav {
  padding-top: 9em;
  padding-bottom: 5em;
  text-align: center;
  background-color: #fff;
}

#nav a {
  margin-right: 1.5em;
  margin-left: 1.5em;
  font-size: 1em;
  text-decoration: none;
}

#nav a:hover {
  color: #f6cdd5;
}

.mouseOver_text img {
  max-width: 100%;
  max-height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 auto;
}

.mouseOver_text h1 {
  font-family: "Futura";
  margin: 0.5em;
  letter-spacing: 2px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.mouseOver_text h1 a {
  text-decoration: none;
  color: #000;
  display: block;
}
.mouseOver_text h1:hover {
  letter-spacing: 4px;
}

#previewImage {
  position: absolute;
  display: none;
  color: #fff;
  z-index: 2;
}
#previewImage img {
  width: auto;
  height: 15vw;
}

section {
  width: 100%;
  height: auto;
  min-height: 100%;
}

.info p {
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
}

.title {
  font-size: .75em;
  padding: 2em;
  letter-spacing: 2px;
  padding-bottom: 0;
}

.accordionWrapper{
  background:#fff;
  float:left;
  width:80%;
  box-sizing:border-box;
  margin:10%;    
  box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);
} 
.accordionItem{
    float:left;
    display:block;
    width:100%;

}
.accordionItemHeading{
    cursor:pointer;
    margin:0em 0em 2em 0em;
    padding-top:1em;
    width:100%;
    letter-spacing: 2px;
    font-family:'Futura';
    color: #000;
}

.close .accordionItemHeading {
  font-size: .5em;
}
.close .accordionItemContent{
    height:0px;
    -webkit-transition: height 1s ease-out;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
  transform: scaleY(0);
    float:left;
    display:block;
}


.open .accordionItemContent{
    padding-left: 35em;
    padding-right: 35em;
    background-color: #fff;
    width: 100%;
    display: block;
    margin: 0em 0em 2em 0em;
    -webkit-transform: scaleY(1);
  transform: scaleY(1);
    -webkit-transform-origin: top;
  transform-origin: top;

  -webkit-transition: -webkit-transform 0.4s ease-out;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.open .accordionItemHeading{
    margin:0px;
    background-color: #fff;
    color: #000;
    font-size: .75em;
}


.content {
  margin-left: 15em;
  margin-right: 15em;
}

.body {
  margin-top: 1em;
}

li a.active {
    color: #000;
    text-decoration: none;
}

a:visited{
	text-decoration: none;
	color: #000;
}
a:link{
	text-decoration: none;
	color: #000;
  text-align: center;
  font-family: 'Letter Gothic';
  font-size: .9em;
}
a:hover {
  color: #f6cdd5;
  text-decoration: none;
}


.col-sm-9 {
  padding: 0;
  margin-bottom: 0;
}

.col-sm-3 {
  padding: 0;
}

.asterisk {
  font-size: .6em;
}

.pagenav{
  text-align: center;
  font-size: 1.5em;
  padding: 1.5em;

}


@media only screen and (max-width: 574px) {
    .content {
        margin-left: 1em;
        margin-right: 1em;
    }
    .open .accordionItemContent{
    padding-left: 5em;
    padding-right: 5em;
  }

}
